.modalContainer{
  width: 225px;
  height: 225px;
  padding: 1rem 1rem;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color:#f9fafb;
  border-radius: 8px;
  border: 1px solid #191970 !important;
  box-shadow: 0px 15px 24px 9px rgba(59,84,99,0.4);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} 

.modalTimeFields{
  display:flex;
  align-items: center;
  width: fit-content;
}

.cardTimeFields > .MuiFormControl-root{
  width:4rem;
}

.MuiInputBase-input{
  color:black;
  text-align: center;
}

.MuiButtonBase-root .MuiButton-root .MuiButton-label{
  margin-bottom:20rem;
}