.timetext {
  background: linear-gradient(180deg,#0f2027,#203a43,#2c5364);
  width: 13rem;
  font-size: 3rem;
  font-weight:700;
  color:#f9fafb;
  border-radius: 8px;
  border: 1px solid #363f45;
  padding: 0.5rem 1.5rem;
}
