*{
  margin:0;
}

.app{
  background-color:  #181A18;
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem !important;
}

.timers{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 950px) {
  .timers {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .timers {
    grid-template-columns: 1fr;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
